@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url("container.css");
@import url("utilities/grid-utility.css");
@import url("utilities/text-utility.css");
@import url("components/avatar.css");
@import url("components/alert.css");
@import url("components/badge.css");
@import url("components/icon.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/image.css");
@import url("components/input.css");
@import url("components/lists.css");
@import url("components/navigation.css");
@import url("components/modal.css");
@import url("components/start-rating.css");
@import url("components/toast.css");

:root {
  font-size: 16px;
  --font-family: 'Open Sans', sans-serif;

  /* Colors */
  /* --background-primary-color: #030102;  
  --background-secondary-color: #FBBF24;

  --text-primary-color: #FBBF24;
  --text-secondary-color: #030102; */

  /* --background-primary-color: #DC2626;
  --background-secondary-color: #FECACA;

  --text-primary-color: white;
  --text-secondary-color: #B91C1C; */

  /* --background-primary-color: #059669;
  --background-secondary-color: #A7F3D0;

  --text-primary-color: white;
  --text-secondary-color: #047857; */

  /* --background-primary-color: #D97706;
  --background-secondary-color: #FDE68A;

  --text-primary-color: white;
  --text-secondary-color: #B45309; */

  --background-primary-color: #2563EB;
  --text-primary-color: white;
  --background-primary-hover-color: #1E40AF;

  --background-secondary-color: #EFF6FF;
  --text-secondary-color: #1D4ED8;
  --background-secondary-hover-color: #DBEAFE;

  --success-color: #16A34A;
  --failure-color: #DC2626;
  --dark-background-color: #181818;

  --light-gray-color: #F4F4F5;
  --dark-gray-color: #3F3F46;
  --green-color: #22C55E;
  --dark-green-color: #16A34A;

  /* Spacing */
  --space-0: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;

  /* Font Size */
  --size-1: 0.5rem;
  --size-2: 1rem;
  --size-3: 1.5rem;
  --size-4: 2rem;
  --size-5: 2.5rem;
  --size-6: 3rem;
  --size-7: 3.5rem;
  --size-8: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  z-index: 0;
}


body {
  /* overflow: hidden; */
}