@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url("container.css");
@import url("components/avatar.css");
@import url("components/alert.css");
@import url("components/badge.css");
@import url("components/icon.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/image.css");
@import url("components/input.css");
@import url("components/lists.css");

:root{
  font-size: 16px;
  --font-family: 'Open Sans', sans-serif;  

  /* Colors */
  --primary-background-color: #030102;
  --secondary-background-color: #FBBF24;  
  
  --text-primary-color: #FBBF24;
  --text-secondary-color: #030102;

  --hover-color: #171717;
  --success-color : #16A34A;
  --failure-color : #DC2626;  
  --dark-background-color: #181818;

  --cool-gray-color : #F3F4F6;
  
  /* Spacing */
  --space-0: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;

  /* Font Size */  
  --size-1: 0.5rem;
  --size-2: 1rem;
  --size-3: 1.5rem;
  --size-4: 2rem;
  --size-5: 2.5rem;
  --size-6: 3rem;
  --size-7: 3.5rem;
  --size-8: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:var(--font-family);
}


/* body{
  background-color: var(--dark-background-color)
} */



