.alert{
    padding: var(--space-2);
    margin-bottom: var(--space-2);    
    border-radius: 4px;
}

.alert-success{
    color: white;
    background-color: var(--success-color);    
}

.alert-failure{
    color: white;
    background-color: var(--failure-color);
}