.form{
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    /* justify-content:space-between;   */
    width:100%;      
}

.form-row{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    column-gap: var(--space-2);    
}

.form-row > * {
    margin-bottom: var(--space-3);   /* margin for each field inside form */
}

.form-field {               
    flex:1 1 auto;        
}

.form-field > label {    
    display:block;
    margin-bottom:var(--space-0);
}

/* .form-field > input[type="checkbox"] + label {
    background-color: red;    
    display: inline;
    margin-bottom:var(--space-0);
}
input[type="checkbox"]{
    display: inline;
} */

.form-field >  input, .form-field > textarea, .form-field > select{    
    width: 100%;
    padding: var(--space-1);
    border: 1px solid var(--secondary-background-color);
    outline:none;    
}

.form-field >  input:focus, .form-field > textarea:focus, .form-field > select:focus{    
    width: 100%;
    padding: var(--space-1);
    box-shadow: 0px 0px 2px 2px var(--secondary-background-color);
    transition: box-shadow 0.2s linear;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #404040;
}



.error-msg{    
    display:none;    
}

.success-msg{    
    display:none;    
}