/* Basic styling */  
  nav {
    background: var(--primary-background-color);
    padding: var(--space-0) var(--space-2);
  }
  nav > ul {
    list-style-type: none;
  }
  nav a {
    color: var(--text-primary-color);
    text-decoration: none;
  }
  nav a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: var(--size-2);
    padding: var(--space-1) var(--space-0);
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px var(--secondary-background-color) solid;
  }
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
    background-color: var(--primary-background-color);
    color: var(--text-primary-color);
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: white;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: var(--size-2);
  }
  .bars:before,
  .bars:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: var(--space-1) var(--space-2);
        background: var(--primary-background-color);
        border: 1px var(--secondary-background-color) solid;
        border-radius: var(--size-3);
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: var(--hover-color);
        border-color: var(--hover-color);
    }
    /* .button.secondary a:hover {
        color: var(--hover-color);
    }  */
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: var(--space-2) var(--space-1);
    }
    .menu li.button {
        padding-right: 0;
    }
  }