#snackbar {
    visibility: hidden;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: var(--space-2);
    left: 0;
    right: 0;
    position: fixed;
    bottom: var(--space-2);
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: var(--space-2);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: var(--space-2);
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: var(--space-2);
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: var(--space-2);
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}